---
layout: default
title: Archive
---

<div id="archive">
  <ul>
  {% for post in site.posts %}

    {% unless post.next %}
      <li class="year font-bold leading-8">{{ post.date | date: '%Y' }}</li>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <li class="year font-bold leading-8 mt-4">{{ post.date | date: '%Y' }}</li>
      {% endif %}
    {% endunless %}

    <li>
      <time>{{ post.date | date:"%m-%d" }}</time>
      <a class="hover:font-bold" href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
  </ul>
</div>
