<div class="border-t border-dashed px-6 py-4 text-sm text-gray-500 flex">
  <p>
    &copy; 2026 by <a class="underline" href="/">@gonglexin</a>
    | <a class="underline" href="https://bsky.app/profile/gonglexin.com" target="_blank" rel="noopener noreferrer">Bluesky</a>
    | <a class="underline" href="https://x.com/gonglexin" target="_blank" rel="noopener noreferrer">X</a>
    | <a class="underline" href="https://github.com/gonglexin" target="_blank" rel="noopener noreferrer">GitHub</a>
  </p>
</div>
