<nav class="sticky top-0 bg-yellow-50 border-b border-dashed flex max-sm:text-xs items-center z-40">
  <ul class="flex flex-row gap-x-4 p-4 max-sm:gap-x-2 max-sm:p-2" >
    <li class="hover:underline"><a href="/" class="px-2 py-1 {% if page.url == '/' %}bg-yellow-200{% endif %}">Home</a></li>
    <li class="hover:underline"><a href="/archive" class="px-2 py-1 {% if page.url == '/archive' %}bg-yellow-200{% endif %}">Archive</a></li>
    <li class="hover:underline"><a href="/atom.xml">Atom</a></li>
  </ul>

  {% if page.url contains '/posts/' %}
    <div class="flex flex-row p-4 max-sm:p-2 ml-8 space-x-4 justify-center w-full">
      <h1 class="font-bold bg-yellow-200 px-2">{{ page.title }}</h1>
      <div class="grow"></div>
      <time class="text-gray-500 max-sm:hidden">{{ page.date | date: "%Y-%m-%d" }}</time>
    </div>
  {% endif %}
</nav>
