---
---

/* Base */
body {
  font-family: 'Galdeano', sans-serif;
  line-height: 20px;
}

a {
  color: #555;
}

a:hover {
  color: black;
}

.container {
  margin: 0 auto;
  width: 960px;
}

nav {
  float: left;
  margin-top: 60px;
  line-height: 30px;
  margin-right: 40px;

  ul {
    list-style: none;
    a {
      text-decoration: none;
    }
  }
}


#wrapper {
  margin-top: 40px;
  float: left;
  width: 600px;
}

#header {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 20px;
  a {
    text-decoration: none;
  }
}

#content {
  padding: 10px 0 0 30px;
  border-left: 1px dashed #ccc;
  border-top: 1px dashed #ccc;
}

article {
  margin-bottom: 40px;
  header > h1 > a {
    text-decoration: none;
  }
}

.year {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 1em;
}

/* Footer */
footer {
  margin-top: 1em;
  border-top: 1px dashed #CCC;
  p {
    color: #999;
  }
}

