<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>秦关属楚 {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/highlight.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/style.css" />
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    <script type="text/javascript" charset="utf-8">
      var k=[];
      document.onkeydown = function(e){
        e = e || window.event;
        k.push(e.keyCode);
        if(k.toString().indexOf("66,85,78,78,89") >= 0){
          k=[];
          window.location.href = "/bunny.html";
        }
      }
    </script>
  </body>
</html>