---
layout: default
---

<article>
  <header class="flex flex-row py-2">
    <h1 class="text-xl font-bold">{{ page.title }}</h1>
    <div class="grow"></div>
    <time class="text-gray-500">{{ page.date | date: "%Y-%m-%d" }}</time>
  </header>
  <section class="prose max-w-none">
    {{ content }}
  </section>
</article>

<div class="mt-8 scale-50 origin-left">
  <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button"
    data-slug="gonglexin" data-color="#40DCA5" data-emoji="" data-font="Comic" data-text="Buy me a coffee"
    data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00"></script>
</div>

<div class="mt-4">
  <script async src="https://comments.app/js/widget.js?2" data-comments-app-website="Zq9RkC0i" data-limit="5"></script>
</div>
